h1 {
    text-align: center;
}

#logo {
    color: coral;
}

/*Background image for website*/
body{
    background-image: url("../images/soft-colored-abstract-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100%;
    margin: 40px auto;
}

h1 {
    color:coral;
}

hr{
    background-color: ivory;
    height: 3px;
}

.portfolio-image {
    padding: 30px;
}

/* .portfolio-centre {
    margin: 0 auto;
} */

.container {
    padding: 20px;
    background-color:ivory;
    color: black;
}

.footer {
    color: ivory;
    background-color: #343a40;
    font-weight: bold;
    border-top-style: solid;
    border-top-width:10px;
    border-color:coral;
}
    