h1 {
    text-align: center;
}

#logo {
    color: coral;
    font-weight: bold;
}

/*Background image for website*/
body{
    background-image: url("../images/soft-colored-abstract-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }

.headshot {
    padding-bottom: 30px;
}

/* .portfolio-centre {
    margin: 0 auto;
} */

.information {
    margin: 40px auto;
    padding: 20px;
    background-color:ivory;
    color: black;
}

h1 {
    color:coral;
}

hr{
    background-color: ivory;
    height: 3px;
}

.portfolio-image {
    padding: 30px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:#343a40;
    border-top-style: solid;
    border-top-width: 10px;
    border-color:coral;
  }


