h1 {
    text-align: center;
}

/* navbar word colours*/
a {
    color: coral;
}

/*Background image for website*/
body{
    background-image: url("../images/soft-colored-abstract-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100%;
    margin: 40px auto;
}

h1 {
    color:coral;
}

hr{
    background-color: ivory;
    height: 3px;
}

img {
    float: none;
}

.portfolio-centre {
    margin: 0 auto;
}

.container-fluid {
    padding: 20px;
}

.container {
    padding: 20px;
    background-color:ivory;
    color: black;
}

.footer {
    color: ivory;
    bottom: 0%;
    width: 100%;
    background-color: #343a40;
    font-weight: bold;
    border-style: solid;
    border-width: 0cm;
    border-top-width:10px;
    border-color:coral;
}
    